body{
    font-family:'Courier New', serif;
    background-image: url("background image.jpg");
    width: 100%;
    background-repeat: no-repeat;
    color: #111111;
}
* {
    box-sizing: border-box;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
    background-color: hsla(0, 0%, 90%, 0.33);;
}

.menu a {
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
    background-color: hsla(0, 0%, 90%, 0.33);
}

.right {
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    background-color: hsla(0, 0%, 90%, 0.33);
}
.main-article{
    float: left;
    background-color: hsla(0, 0%, 90%, 0.53);
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
      .right, .main, .menu {
        width: 100%;
    }
}