body {
    background-color: #fae5d7;
    color: #5a2e00;
    font-family:'Courier New', serif;
}
h1 {
    background-color: rgba(255, 208, 161, 0.65);
    font-family:'Courier New', serif;
}
h2 {
    background-color: rgba(255, 208, 161, 0.65);
    font-family:'Courier New', serif;
    font-size: 38px;
}
p {
    background-color:#fae5d7;
    color: #5a2e00;
    font-family:'Courier New', serif;
    border: 2px solid #7e4300;
    padding: 30px;
    margin: 50px;
}
button {
    background-color:#fae5d7;
    color: #5a2e00;
    font-family:'Courier New', serif;
    font-size: 35px;
    border: 2px solid #7e4300;
    padding: 30px;
    margin: 50px;
}